@import '../node_modules/bulma/css/bulma.css';

.App {
  text-align: center;

  background-color: #efefef;
}


div, nav {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

.bg-color-head{
  
  background-color: #003555;
}