@import "../node_modules/bulma/css/bulma.css";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");

// @import 'https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.1.96/css/materialdesignicons.min.css';

body {
  background-color: rgb(241 245 249);
  font-family: "Inter", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
ul {
  list-style-type: none !important;
}
// $background : #efefef;
// $background : #f5f5f9;
